{erl_opts, [
    {parse_transform, ct_expand}
]}.

{deps, [
    {jsx,         "2.8.2"},
    {rfc3339,     "0.2.2"},
    {jesse,       {git, "https://github.com/rbkmoney/jesse.git",       {ref, "39105922d1ce5834383d8e8aa877c60319b9834a"}}},
    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git",   {ref, "76abb347c3c1d00fb0ccf9e4b43e22b3d2288484"}}}
]}.
